<div>
    <header>
        <h1>Upcoming Elections</h1>
    </header>
    <table>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Description</th>
            <th>Polling Location Lookup</th>
        </tr>
        {{#each upcomingElectionsArr}}
            <tr>
                <td>{{formatDate this.date}}</td>
                <td>{{this.type}}</td>
                <td>{{this.description}}</td>
                <td>
                    <a href={{this.polling-place-url}} target="_blank">
                        {{this.polling-place-url}}
                    </a>
                </td>
            </tr>
        {{/each}}
    </table>  
    <script>

    </script>   
</div>